<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somitsolutions.custompermissioncallerapp" >

    <!--  Declaring the special permission for receiving broadcast-->
    <permission android:name="com.somitsolutions.custompermissioncallerapp.custompermissionforreceivingbroadcast"
        android:label="broadcast_permission"
        android:protectionLevel="dangerous">
    </permission>


    <uses-permission android:name="com.somitsolutions.custompermissioncalledapp.custompermission"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>
